@{
    ViewBag.Title = "Home Page";
}



<h2>@ViewBag.Message</h2>
<script type="text/javascript">
    $(document).ready(function () {
        $("#makeMeDraggable").draggable();
    });
</script>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
 <div id="content" class="drag">
   <div id="makeMeDraggable"> </div>
  </div>

 